@font-face {
    font-family: "Roboto";
    src: url("./../../shared/assets/fonts/Roboto/Roboto-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("./../../shared/assets/fonts/Roboto/Roboto-Medium.ttf");
    font-weight: 500;
    font-style: medium;
}

@font-face {
    font-family: "Roboto";
    src: url("./../../shared/assets/fonts/Roboto/Roboto-Bold.ttf");
    font-weight: 600;
    font-style: bold;
}
