@import url("./reset.scss");
@import url("./fonts.scss");
@import url("./variables/globals.scss");

body {
    font-family: "Roboto";
    font-weight: 400;
}

.main {
    display: flex;
    justify-content: center;
}

.main {
    padding: 15px 30px;
}
