.form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.input {
    width: 100%;
}

.title {
    font-size: 24px;
}
